<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.meteor.cordova-update" 
  version="0.0.1" 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android">

  <name>CordovaUpdate</name>
  <description>CordovaUpdate is a plugin to serve files from file-system</description>
  <author>Meteor Development Group</author>
  <license>MIT</license>
  <keywords>web,server,http</keywords>
  <repo>https://github.com/meteor/com.meteor.cordova-update.git</repo>
  <issue>https://github.com/meteor/com.meteor.cordova-update/issues</issue>

  <engines>
    <engine name="cordova" version=">=2.9" />
  </engines>

  <js-module name="CordovaUpdate" src="www/CordovaUpdate.js">
    <clobbers target="cordova.plugins.CordovaUpdate" />
  </js-module>

  <platform name="android">
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="CordovaUpdate">
        <param name="ios-package" value="METEORCordovaUpdate" />
      </feature>
    </config-file>

    <source-file src="src/ios/METEORCordovaUpdate.m" />
    <source-file src="src/ios/METEORCordovaURLProtocol.h" />
    <source-file src="src/ios/METEORCordovaURLProtocol.m" />

    <framework src="Foundation.framework" />

  </platform>

</plugin>
